!!!5
html
	head
		title #{title} - Prestige Site
		link(rel='stylesheet', href='/stylesheets/style.css')
		block scripts
			script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
			script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
			script(src="/javascript/main.js")
	body
		header
			h1 Prestige Site
			block nav
				- if(nav.length)
				nav
					ul
					- each url, name in nav
						li
							- if (url == cururl)
								a(href='#{url}', title='#{name}').current #{name}
							- else
								a(href='#{url}', title='#{name}') #{name}

		div(class="container "+section)
			- if(flash)
				div(class="msg-box "+flash.type) 
					p= flash.text

			block content

		footer
			p Site by Ephraim Gregor, written in node.js and express.