extends layout

block content
	h2= user.name.last + ', ' + user.name.first
	h3 Info
	p= user.mes + (user.trial ? ' (TRIAL)' : '')
	if user.email
		p: a(href="mailto:"+user.email, target="_blank")= user.email
	p= 'Currently MC ' + user.mc
	if user.is_expired
		p.error Expired 
			span(class='date')= user.expire.getMonth() + '/' + user.expire.getDate() + '/' + user.expire.getFullYear()
	else
		p Expires 
			span(class='date')= user.expire.getMonth() + '/' + user.expire.getDate() + '/' + user.expire.getFullYear()

	h3 Prestige Log

	table.user-prestige
		thead
			tr
				th(width="100px") Date
				th Description
				th(width="130px") Category
				th(width="40px").num G
				th(width="40px").num R
				th(width="40px").num N
				th(width="60px") GT
		tfoot
			tr
				th Date
				th Description
				th Category
				th.num G
				th.num R
				th.num N
				th GT
		tbody
			tr
				td 1/1/2000
				td Requiem NPC
				td Social Support
				td.num 100
				td.num 0
				td.num 0
				td 0
