extends ../layout

block content
	h2= user.name.last + ', ' + user.name.first
	h3 Info
	p= user.mes + (user.trial ? ' (TRIAL)' : '')
	if user.email != 'false'
		p: a(href="mailto:"+user.email, target="_blank")= user.email
	p= 'MC ' + user.prestige.mc
	p= 'Totals: ' + user.prestige.g + 'G, ' + user.prestige.r + 'R, ' + user.prestige.n + 'N, ' + user.prestige.gt + 'GT'
	if user.is_expired
		p.error Expired 
			span(class='date')= user.expire
	else
		p Expires 
			span(class='date')= user.expire

	if user.positions.length
		p Positions: 
			each pos, i in user.positions_formatted
				a(href="")= pos
				= (i == user.positions.length-1) ? '' : ', '

	h3 Standards
	if user.standards.length
		ul
			each standard in user.standards
				li= standard.name
	else
		p No Standards completed.

	h3 Prestige Log
	if awards.length

		table.user-prestige
			thead
				tr
					th(width="100px") Date
					th Description
					th(width="130px") Category
					th(width="40px").num G
					th(width="40px").num R
					th(width="40px").num N
			tfoot
				tr
					th Date
					th Description
					th Category
					th.num G
					th.num R
					th.num N
			tbody
			each award in awards
				tr
					td= award.date
					td= award.description
					td= award.category
					td.num= award.g
					td.num= award.r
					td.num= award.n
	else
		p No prestige awarded.

	h3 Disciplinary Actions
	if user.disciplinaryactions.length
		ul
		each actions in user.disciplinaryactions
			li= actions
	else
		p No Disciplinary Actions recorded.

	a(class="btn-yellow", href="/user/edit/"+user.mes) Edit